<div layout="" layout-align="center center">
    <div flex="30">
        <md-card>
            <md-toolbar layout="row"  style="background: #f9d423; color: black;">
                <div class="md-toolbar-tools">
                    <h4>{{strings.AppName}}</h4>
                </div>
            </md-toolbar>

            <md-card-content>
                <md-input-container>
                    <label>{{strings.User}}</label>
                    <input required ng-model="user.login">
                </md-input-container>
                <md-input-container>
                    <label>{{strings.Password}}</label>
                    <input required type="password" ng-model="user.senha">
                </md-input-container>
            </md-card-content>

            <div class="md-actions padding-sides-small" layout="row" layout-align="end center">
                <md-button ng-click="onClickLogin();">{{strings.Login}}</md-button>
            </div>
        </md-card>
    </div>
</div>