<div ng-if="showHeader();">
    <md-toolbar layout="row" style="background: #f9d423; color: black;">
        <div class="md-toolbar-tools">
            <a href="#/">{{strings.AppName}}</a>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Settings" href="#/dashboard">
                <md-icon><i class="material-icons" style="color: black;">dashboard</i></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings" href="#/agente">
                <md-icon><i class="material-icons" style="color: black;">directions_bike</i></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings" href="#/agentetaxi">
                <md-icon><i class="material-icons" style="color: black;">local_taxi</i></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings" href="" ng-click="onClickLogout();">
                <md-icon><i class="material-icons" style="color: black;">exit_to_app</i></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>