.padding-small{
    padding: 10px;
}
.padding-sides-small{
    padding-left: 10px;
    padding-right: 10px;
}
#file-input { display: none; }

.text-xs {
    font-size: 12px;
    text-align: center;
}
.text-muted {
    color: #98a6ad;
}
.text-muted {
    color: #98a6ad;
}
.text-info {
    font-size: 36px;
    color: currentColor;
}
.font-thin {
    font-weight: 100 !important;
    font-size: 10px;
}
.text-info {
    font-size: 36px;
    color: currentColor;
}