<h2>Agentes</h2>
<md-button ng-click="onClickNovoAgente();" class="md-raised md-primary" style="margin: 0 auto">
    <md-icon><i class="material-icons md-primary">add</i></md-icon>
    Novo Agente
</md-button>


<div layout="" layout-sm="column">
    <div flex="´35" class="padding-sides-small">
        <h4>Lista de Agentes</h4>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="a in agentes" ng-click="selecionarAgente(a);">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ a.login }}</h3>
                    <h4>{{ a.nome }}</h4>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div flex="65" class="padding-sides-small" ng-show="agente">
        <h4>Agente Selecionado</h4>

        <div layout="" layout-sm="column">
            <div ng-show="camera || !agente.foto || agente.foto.length <= 3"
                 style="width: 50%; height: 100%; min-width: 320px; min-height: 230px; background: #f2f2f2; margin: 10px auto"
                 id="webcampreview"></div>
            <img ng-show="agente.foto && agente.foto.length > 3 && !camera"
                 style="width: 50%; height: 100%; min-width: 320px; min-height: 230px; margin: 10px auto"
                 ng-src="http://ec2-54-210-131-63.compute-1.amazonaws.com/files/fotos/{{agente.foto}}">
            <md-button ng-show="!capturar"
                       style="min-width: 30px !important; height: 28px !important; min-height: 28px !important; margin: 5px auto; padding: 3px !important; line-height: 22px;"
                       ng-click="enableCamCameraScripts();">
                <md-icon><i class="material-icons">photo_camera</i></md-icon>
                Foto
            </md-button>
            <md-button ng-show="capturar" style=" margin-left: 20%" ng-click="capturarImagem()">
                <md-icon><i class="material-icons md-primary">camera_alt</i></md-icon>
                Capturar
            </md-button>
        </div>


        <div layout="" layout-sm="column">
            <md-input-container flex="">
                <label>Nome</label>
                <input required ng-model="agente.nome">
            </md-input-container>
            <md-input-container flex="">
                <label>E-mail</label>
                <input ng-model="agente.email">
            </md-input-container>
        </div>
        <div layout="" layout-sm="column">
            <md-input-container flex="">
                <label>Cidade</label>
                <input required type="text" ng-model="agente.cidade">
            </md-input-container>
            <md-input-container flex="">
                <label>Estado:</label>
                <input required type="text" ng-model="agente.estado">
            </md-input-container>
            <md-input-container flex="">
                <label>Endereço:</label>
                <input required type="text" ng-model="agente.endereco">
            </md-input-container>
            <md-input-container flex="">
                <label>CPF:</label>
                <input required type="text" ng-model="agente.cpf">
            </md-input-container>
            <md-input-container flex="">
                <label>RG:</label>
                <input required type="text" ng-model="agente.rg">
            </md-input-container>
        </div>
        <div layout="" layout-sm="column">
            <md-input-container flex="">
                <label>Login</label>
                <input required ng-model="agente.login">
            </md-input-container>
            <md-input-container flex="">
                <label>Senha</label>
                <input required type="password" ng-model="agente.senha">
            </md-input-container>
            <md-input-container flex="">
                <label>Preço por viagem</label>
                <input required type="number" ng-model="agente.precoviagem">
            </md-input-container>
            <md-input-container flex="">
                <label>Taxa por viagem</label>
                <input required type="number" ng-model="agente.taxaviagem">
            </md-input-container>
        </div>
        <div layout="" layout-sm="column">
            <md-input-container flex="">
                <label>Alvará</label>
                <input required type="text" ng-model="agente.alvara">
            </md-input-container>
            <md-input-container flex="">
                <label>Contato (1):</label>
                <input required type="text" ng-model="agente.telefone1">
            </md-input-container>
            <md-input-container flex="">
                <label>Contato (2):</label>
                <input required type="text" ng-model="agente.telefone2">
            </md-input-container>
        </div>
        <div layout="" layout-sm="column">
            <md-input-container flex="">
                <label>Modelo da Moto</label>
                <input required type="text" ng-model="agente.modelomoto">
            </md-input-container>
            <md-input-container flex="">
                <label>Cor da Moto:</label>
                <input required type="text" ng-model="agente.cormoto">
            </md-input-container>
            <md-input-container flex="">
                <label>Placa da Moto:</label>
                <input required type="text" ng-model="agente.placamoto">
            </md-input-container>
        </div>
        <div layout="" layout-sm="column" layout-align="end">
            <md-button class="md-raised md-primary" ng-click="onClickSalvarAgente();">Salvar</md-button>
        </div>
    </div>
</div>