<div layout="" layout-sm="row">
    <md-card flex="24" layout layout-align="center center">
        <md-card-content>
            <div class="text-info font-thin" style="text-align: center; color: #23b7e5">{{solicitacoes.length}}</div>
            <p>
                <span class="text-muted text-xs">Quantidade de corridas em aberto</span>
            </p>
        </md-card-content>
    </md-card>
    <md-card flex="24" layout layout-align="center center">
        <md-card-content>
            <div class="text-info font-thin" style="text-align: center; color: #27c24c">0</div>
            <p>
                <span class="text-muted text-xs">Quantidade de corridas fechadas</span>
            </p>
        </md-card-content>
    </md-card>
    <md-card flex="24" layout layout-align="center center">
        <md-card-content>
            <div class="text-info font-thin" style="text-align: center; color: #7266ba">{{agentes.length}}</div>
            <p>
                <span class="text-muted text-xs">Quantidade de mototaxistass</span>
            </p>
        </md-card-content>
    </md-card>
    <md-card flex="24" layout layout-align="center center">
        <md-card-content>
            <div class="text-info font-thin" style="text-align: center; color: #fad733">0</div>
            <p>
                <span class="text-muted text-xs">Quantidade de mototaxistas logados</span>
            </p>
        </md-card-content>
    </md-card>
</div>

<md-content laout="column" flex>
    <md-card>
        <md-data-table-toolbar><h2 class="md-title">Corridas em aberto</h2></md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table class="md-primary" md-progress="deferred">
                <thead md-order="query.order" md-trigger="onorderchange">
                <tr>
                    <th date order-by="data" name="Data"></th>
                    <th numeric order-by="endereco" name="Endereço"></th>
                    <th order-by="status" name="Status"></th>
                    <th name="Comentário"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="s in solicitacoes | orderBy: query.order ">
                    <td>{{s.data | date: 'dd-MM-yyyy HH:mm'}}</td>
                    <td>{{s.endereco}}</td>
                    <td>{{s.status}}</td>
                    <td>{{s.comentario}}</td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>
    </md-card>
</md-content>
